<!-- wp:group {"align":"fullWidth"} -->
	<!-- wp:post-title /-->
<!-- /wp:group -->

<!-- wp:irving/grid -->
	<!-- wp:irving/post {"postId":"18"} -->
	<!-- /wp:irving/post -->
<!-- /wp:irving/grid -->

<!-- wp:irving/stack -->
	<!-- wp:irving/heading {"tag":"h2"} -->
		<!-- wp:post-title -->
	<!-- /wp:irving/heading -->
<!-- /wp:irving/stack -->


<!-- wp:irving/sidebar {""} -->
<!-- /wp:irving/sidebar -->



single.json -> runs through the scaffolder to generate ^
{
	"page": [
		{
			"name": "group",
			"attributets": {
				"align": "fullWidth"
			}
		}
	]
}