import React from 'react';
import { withStyles } from 'critical-style-loader/lib';
import PropTypes from 'prop-types';
import styles from './{{app_slug}}.css';

const {{app_class}} = (props) => {
  // These have been scaffolded. Please review for accuracy.
  const {
    {{#fields}}
    {{slug}},
    {{/fields}}
    children: components,
  } = props;

  return (
    <div className={styles.wrapper}>
      {components}
    </div>
  );
};

// These have been scaffolded. Please review for accuracy.
{{app_class}}.propTypes = {
  {{#fields}}
  {{slug}}: PropTypes.string.isRequired,
  {{/fields}}
  children: PropTypes.arrayOf(PropTypes.node).isRequired,
};

const wrapWithStyles = withStyles(styles);

export default wrapWithStyles({{app_class}});
